body{
  background-color: #d9e2ee;
}

#title{
  background-color: rgba(226, 223, 223, 0.664);
  width: 60%;
  border-radius: 10px;
  text-align: center;
  margin: 10px auto 10px;
  box-shadow: 5px 8px 2px 1px rgba(30, 30, 31, 0.2);

}
#img-div *{
  display: block;
  position: relative;
  margin: auto auto;
}
#image{
  width: 60%;
  border-radius: 5%;
  box-shadow: 12px 12px 2px 1px rgba(30, 30, 31, 0.2);
  max-width: 800px;
}
#img-caption{
  margin-top: 15px;
  width: 40%;
  padding: 0 2% 0 2%;
  text-align: center;
  font-size: small;
  position: relative;
  background-color: #c1cdd1;
  border-radius: 1em;
}
#headline{
  text-align: center;
}
#tribute-info{
  display: block;
  position: relative;
  width: 50%;
  height: auto;
  margin: auto auto;
}
li:hover{
  background-color: #a5cdda;
  border-radius: 4px;
}
#info-link{
  background-color: rgba(38, 38, 121, 0.445);
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 80%;
  margin: auto auto;
}
